extends /_common/_layout_default

block localVars
	- var pageTitle = info.pageTitle
	- var contHeader = info.contHeader
	- var contBody = info.contBody

block content
	include /_modules/_mod_header
	main
		h1 #{contHeader}
		p #{contBody}
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			br
			| Placeat, vel eveniet nemo repudiandae dolore consequatur similique dicta voluptates accusamus laboriosam earum sed itaque ex aliquam unde minima illo et obcaecati?
